.~lock.*
.buildpath
.DS_Store
.project
.settings
cache.properties
build

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

!application/logs/index.html
!application/logs/.htaccess
assets/client/css/app.css
assets/admin/css/app.css

/vendor/
bower_components/
node_modules/

# IDE Files
#-------------------------
/nbproject/
.idea

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project