@import url("common.css");

body {
  font-family: 'ProximaNova-Regular';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  color: #111;
  width: 100%;
  height: 100%;
}

#signup-heading {
  background: url('../images/website/plans/bg_sky.jpg') no-repeat center top transparent;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  height: 150px;
}

#signup-heading h1 {
  font-weight: bold;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  width: 100%;
  line-height: 150px;
  font-family: 'proximaNova-Bold';
  font-weight: normal;
  letter-spacing: 3px;
}

#signup h2 {
  margin: 0px;
  margin-bottom: 10px;
}

#signup .left {
  float: left;
}

#signup .leftbar {
  padding: 0px 40px;
  float: left;
  border-right: 1px solid #ddd;
  width: 560px;
}

#signup .rightbar {
  padding: 0px 40px;
  width: 239px;
  float: right;
}

#signup .rightbar p {
  color: #555;
}

#signup .rightbar img {
  margin-top: 20px;
  width: 239px;
}

#signup form {
  width: 560px;
  margin: 0;
}

#signup input {
  height: 30px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#signup label {
  color: #555;
}

#signup label b {
  color: #000;
}

#signup input:focus, #signup input:active {
  border: 1px solid #aaa;
  color: #333;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

#signup .account-info {
  margin-bottom: 20px;
}

#signup .account-info input {
  width: 100%;
}

#signup .plan-info {
  margin-bottom: 20px;
}

#signup .plan-info .plan-name {
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

#signup .plan-info select {
  width: 250px;
}

#signup .left-input {
  margin-right: 20px;
  float: left;
}

#signup .left-input input {
  width: 185px;
}

#signup .expiry input {
  background: transparent;
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 28px;
  width: 43px;
  display: block;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#signup .expiry .expiry-container {
  display: inline-block;
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #ddd;
  -moz-box-shadow: inset 0 1px 2px rgba(130, 137, 150, 0.23), 0 1px 0 rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: inset 0 1px 2px rgba(130, 137, 150, 0.23), 0 1px 0 rgba(255, 255, 255, 0.85);
  box-shadow: inset 0 1px 2px rgba(130, 137, 150, 0.23), 0 1px 0 rgba(255, 255, 255, 0.85);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
}

#signup .expiry .card-expiry-month {
  border-right: 1px solid rgba(217, 221, 229, 0.5);
}

#signup .cvc .card-cvc {
  width: 88px;
}

#signup .card-charge-info {
  padding: 15px;
  background-color: #eee;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #888;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  font-family: 'proximaNova-Regular';
  border: 1px solid #ccc;
}

#payment-total, #recur-month, #payment-without-coupon {
  font-weight: bold;
}

#signup .by-clicking {
  color: #555;
}

#signup .submit .submit-button {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 12px 20px;
  float: left;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 5px;
}

#signup #apply-coupon {
  padding: 3px 8px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

#signup #apply-coupon-container {
  display: inline-block;
  position: relative;
  top: 26px;
}

#signup .submit img {
  margin-top: 20px;
  margin-left: 10px;
  transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
}

#signup .loading-indicator.hidden {
  opacity: 0;
}

#response-text {
  margin-top: 20px;
  background-color: #cc5a47;
  padding: 15px;
  border-radius: 4px;
  color: #222;
  font-weight: bold;
  font-family: 'proximaNova-Regular';
  border: 1px solid #af4533;

  transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
}

#response-text.hidden {
  height: 0px;
  padding: 0px 15px;
  border: none;
}

#response-text .error-link {
  color: #000;
  font-family: 'proximaNova-Bold';
  font-weight: normal;
}
