.flashMsg, .errorMsg, .successMsg, .infoMsg {
    border-radius: 4px;
    bottom: 2%;
    font-family: Consolas, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    font-weight: 700;
    max-width: 250px;
    min-width: 250px;
    padding: 6px 12px;
    position: fixed;
    right: 2%;
    width: 205px;
    z-index: 9999;
    display: none;
    height: 70px;
    min-height: 70px;
}

.errorMsg {
    background: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}

.successMsg {
    background: #5cb85c;
    border-color: #4cae4c;
    color: white;
}

.infoMsg {
    background: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}